@import url('https://fonts.googleapis.com/css2?family=Trykker&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trykker", serif;
  font-weight: 400;
  font-style: normal
}

body {
    background-image: url('../img/197049e9-e445-46d4-bf9a-d75f3c90863b.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    position: sticky;
    top: 0px;
    background-color: #6b6b6b;
    width: 500px;
    height: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    border-radius: 16px;
    margin: 225px auto;
    
}

.main-container h1 {
    text-align: center;
    text-decoration: underline;
    padding: 8px;
}

.main-container {
    padding: 16px;
    text-indent: 1cm;
    text-align: justify;
}

span {
    color: red;
    text-transform: uppercase;
}
form {text-align: center;
    margin-top: 180px;
}

button {
    display: flex;
    margin: auto;
    padding: 5px;
    border-radius: 8px;
}
 

footer {
    display: flex;
    margin-bottom: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: 200px;
    justify-content: center;
    margin-top: 95vh;
    border: 2px solid black;
}

footer p {
    margin: auto;
}


